{% extends "admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">

    <tr>
      <td colspan="6"><label>

        <select name="select">

          <option {% if type == "Moderator"%} selected {% endif %}>Moderator</option>
          <option  {% if type == "Question Setters"%} selected {% endif %}>Question Setters</option>
          <option  {% if type == "Test Takers"%} selected {% endif %}>Test Takers </option>

        </select>
        <input name="View" type="submit" id="View" value="View" />
      </label></td>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Block</a></p>
          <p><a href="#">Unblock</a></p></td>
    </tr>
  </table>
</form>
</body>

{% endlock %}
