{% extends "admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="view_users_details">
  <table width="200" border="1" class="table table-hover table-stripped">

    <tr>
      <td colspan="6"><label>

        <select name="select">

          <option {% if type == "Moderator"%} selected {% endif %}>Moderator</option>
          <option  {% if type == "Question Setters"%} selected {% endif %}>Question Setters</option>
          <option  {% if type == "Test Takers"%} selected {% endif %}>Test Takers </option>

        </select>
        <input name="View" type="submit" id="View" value="View" />
      </label></td>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['name']}}</td>
      <td>{{i['age']}}</td>
      <td>{{i['email']}}</td>
      <td>{{i['mobile']}}</td>
      <td>{{i['role']}}</td>
      <td><p><a href="?id={{i['lid']}}&type={{i['type']}}">Block</a></p>
          <p><a href="#">Unblock</a></p></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>

{% endblock %}
