<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>


<form action="attend_exam3" method="post">

    <table border="1">
        <tr>

            <th>Subject</th>
            <th>

                Number Questions Available For The Selected Subject : {{tot}}

            </th>

        </tr>

        <tr>
            <th>Number of quetions you need in exam</th>
            <th><input type="text" name="textfield"></th>
        </tr>


        <tr align="ceneter">
            <th colspan="2"><input type="submit" value="Next"></th>
        </tr>

    </table>

</form>


</body>
</html>