{% extends "TestTaker/TT_index.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>

<h1>You scored : {{val}} / {{total_questions}}</h1>

<!--<a href="test_taker_home">HOME</a>-->

<table border="1" class="table table-striped">
    {% for i in qstns %}
    <tr>
        <th>Question: {{loop.index}}</th>
        <td colspan="3">{{i['question']}}</td>
    </tr>

    <tr>
        <td>A){{i['option1']}}</td>
        <td>B){{i['option2']}}</td>
    </tr>
    <tr>
        <td>C){{i['option3']}}</td>
        <td>D){{i['answer']}}</td>
    </tr>

    <tr>
        <th class="text text-primary">Selected Answer:</th>
        <td>{{i['selected_answer']}}</td>
    </tr>

    <tr>
        <th class="text text-success">Correct Answer:</th>
        <th>{{i['answer']}}</th>
    </tr>
    {% endfor %}
</table>

</body>
{% endblock %}
