{% extends "moderators/moderator_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col">Report ID </th>
      <th scope="col">Test Taker </th>
      <th scope="col">Question</th>
      <th scope="col">Mistake Details </th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Forward</a></p>
      <p><a href="#">Ignore</a></p></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
