{% extends "moderators/moderator_index.html" %}
{% block body %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Untitled Document</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <form id="form1" name="form1" method="post" action="">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Question Setter Name</th>
                    <th scope="col">Question Setter Email</th>
                    <th scope="col">Question</th>
                    <th scope="col">Option 1</th>
                    <th scope="col">Option 2</th>
                    <th scope="col">Option 3</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Solution</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in val %}
                <tr>
                    <td>{{ i['name'] }}</td>
                    <td>{{ i['email'] }}</td>
                    <td>{{ i['question'] }}</td>
                    <td>{{ i['option1'] }}</td>
                    <td>{{ i['option2'] }}</td>
                    <td>{{ i['option3'] }}</td>
                    <td>{{ i['answer'] }}</td>
                    <td>{{ i['solution'] }}</td>
                    <td>{{ i['date'] }}</td>
                    <td>
                        <p><a href="accept_question?id={{ i['qid'] }}" class="btn btn-success btn-sm">Accept</a></p>
                        <p><a href="reject_question?id={{ i['qid'] }}" class="btn btn-danger btn-sm">Reject</a></p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
